<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UsedCars</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fonts")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavbarPartial")
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        @Html.Partial("_FooterPartial")
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
